body {
background: #f7797d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD) fixed;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

h1 {
  font-weight: bolder;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

button {
  border-color: white;
  color: white;
}

button:hover, button:focus {
  border-color: #6EAD87;
  color: #6EAD87;
}

input {
  width: 35%;
}

.container {
  max-width: 900px;
  width: 90%;
  padding: 40px;
  box-shadow: 1px 1px 7px;
  border-radius: 5px;
  margin-top: 5rem;
  text-align: center;
}

.message {
  text-shadow: 0 0 3px white;
}